.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
button{
    color: #fff;
    margin: 10px;
    width: 150px;
    height: 40px;
}
.primary-btn{
    background-color: #3498db;
}
.secondary-btn{
    background-color: #2ecc71;
}
.success-btn{
    background-color: #27ae60;
}
.danger-btn{
    background-color: #e74c3c;
}
